.container {
    height: 40vh;
    width: 100%;
    background-color: #676F75;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.li .link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 4vh;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    text-align: center;
    color: black;
}

.ul {
    list-style-type: none;
}

.link:hover {
    color: whitesmoke;
}

.imageClose {
    width: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.imageClose:hover {
    background-color: palevioletred;
}